/* Reset Style */
* {
	margin: 0;
	padding: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	font-family: "Montserrat", sans-serif;
}
html {
	font-family: "Montserrat", sans-serif;
}
body {
	background-color: rgb(0, 0, 0);
}

h2 {
	font-size: 28px;
	color: #e8e8e8;
	font-weight: 700;
}
h4 {
	font-size: 16px;
	color: #e8e8e8;
	font-weight: 700;
}

.custom-radio input:checked + .radio-btn > i {
	opacity: 1;
}

.btn-submit {
	width: 120px;
	height: 30px;
	border-radius: 5px;
	border-style: none;
	color: #ffffff;
	font-size: 16px;
	font-weight: 700;
	margin-top: 20px;
	margin-bottom: 10px;
}

.tulisan_login {
	text-align: center;
	/*membuat semua huruf menjadi kapital*/
	color: #000000;
	font-weight: 500;
	font-size: 20px;
	margin-bottom: 30px;
}

.kotak_login {
	width: 404px;
	height: 460px;
	background: rgb(255, 166, 0);
	/*meletakkan form ke tengah*/
	margin: 50px auto;
	padding: 30px 20px;
	border-radius: 10px;
}
.kotak_register {
	width: 404px;
	height: 630px;
	background: rgb(255, 166, 0);
	/*meletakkan form ke tengah*/
	margin: 50px auto;
	padding: 30px 20px;
	border-radius: 10px;
}

label {
	font-size: 11pt;
	color: #000000;
}

.form_login {
	/*membuat lebar form penuh*/
	box-sizing: border-box;
	width: 302px;
	height: 45px;
	padding: 10px;
	font-size: 11pt;
	margin-bottom: 20px;
	border-radius: 3px;
	margin-left: 9%;
	border: 1px solid #3b3b3b;
	box-shadow: 0 0 5px rgb(255, 123, 0);
}
.form_name {
	margin-left: 9%;
}

.tombol_login {
	background: #000000;
	color: white;
	font-size: 16px;
	font-weight: 600;
	width: 302px;
	height: 45px;
	border: none;
	border-radius: 3px;
	padding: 10px 20px;
	margin-bottom: 10px;
}

.kotak_login a {
	font-weight: 500;
	color: #000000;
	padding-top: 20px;
	font-size: 14px;
}
.kotak_register a {
	font-weight: 500;
	color: #000000;
	padding-top: 20px;
	font-size: 14px;
}

/* // Medium devices (tablets, 768px and up) */

@media only screen and (max-width: 768px) {
	h2 {
		font-size: 20px;
		color: #e8e8e8;
		font-weight: 700;
	}
	h4 {
		font-size: 14px;
		color: #e8e8e8;
		font-weight: 700;
	}
	.mycontainer {
		margin-left: 30px;
		margin-right: 30px;
	}
	.mymain-container {
		margin-left: 50px;
		margin-right: 50px;
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.jumbo-img {
		float: right;
		margin-top: -110px;
		display: none;
	}
	.titleVote {
		width: 300px;
		height: 32px;
		background-color: #e8e8e8;
		font-size: 14px;
		font-weight: 600;
		border-radius: 1000px;
		margin: 50px 0 20px 0;
		text-align: center;
	}
	.name h4 {
		width: 150px;
	}

	.countdown-box {
		text-align: center;
		margin: auto;
	}
	.countdown {
		width: 340px;
		height: 70px;
		background-color: #e8e8e8;
		text-align: center;
		border-radius: 10px;
	}
	.btn-submit {
		width: 120px;
		height: 30px;
		border-radius: 5px;
		border-style: none;
		color: #6239fd;
		font-size: 16px;
		font-weight: 700;
		margin-top: 20px;
		margin-bottom: 30px;
	}

	.jumbo-img-login {
		float: right;
		display: none;
	}

	.kotak_login {
		width: 330px;
		height: 460px;
		background: white;
		/*meletakkan form ke tengah*/
		padding: 30px 20px;
		margin: auto;
		margin-bottom: 30px;
		border-radius: 10px;
	}

	.form_login {
		/*membuat lebar form penuh*/
		box-sizing: border-box;
		width: 250px;
		height: 45px;
		padding: 10px;
		font-size: 10pt;
		margin-bottom: 20px;
		border-radius: 3px;
		margin-left: 9%;
		border: 1px solid #6239fd;
	}

	.tombol_login {
		background: #6239fd;
		color: white;
		font-size: 16px;
		font-weight: 600;
		width: 250px;
		height: 45px;
		border: none;
		border-radius: 3px;
		padding: 10px 20px;
		margin-bottom: 10px;
	}

	nav .signed-btn {
		width: 250px;
		height: 35px;
		border-radius: 1000px;
		font-size: 18px;
		font-weight: 600;
		color: #6239fd;
		float: right;
		text-decoration: none;
		margin-right: 20px;
		border-style: none;

		display: none;
	}
}
